 .header{
    width: 100%;
    height: 80px;
    line-height: 80px;

    .header__shrink{
        width: 100%;
        height: 80px;
        line-height: 40px;
        position: sticky;
        top: 0;
        left: 0;

    }

    .container{

        .nav__wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo{
                height: 40px;
                padding: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                
               
               img{
                width: 65px;
                height: 65px;
                border-radius: 50%;
                object-fit: cover;

                @media only screen and (max-width: 768px) {
                    width: 50px;
                    height: 50px;
                }
                @media only screen and (max-width: 576px){
                    width: 40px;
                    height: 40px;
                }
                
                
               } 
                .logo-tag{
                    color: var(--primary-color);
                    font-size: 1.2rem;
                    font-weight: 500;

                    @media only screen and (max-width: 768px) {
                       font-size: .8rem;
                    }

                    @media only screen and (max-width: 576px){
                        font-size: .7rem;
                    }
                    
                    
                }
            }

            .navigation{

                .menu{
                    display: flex;
                    align-items: center;
                    column-gap: 2.5rem;
                    list-style: none;

                    .menu__item{
                        .menu__link{
                            font-weight: 400;
                            font-size: .9rem;
                            cursor: pointer;
                            transition: all .3s ease;

                            &:hover {
                                color: var(--primary-color);
                            } 
                        }
                        a{}
                    }
                }
            }

            .light__mode{
 
                span{
                    color: var(--light-mode);
                    display: flex;
                    align-items: center;
                    column-gap: 0.4rem;
                    font-size: 0.8rem; 
                    cursor: pointer;
                }

            }
            .mobile__menu{
                color: var(--white-color);
                font-size: 1.3rem;
                cursor: pointer;
                
              }
        }

    }
 }