.project{
    display: flex;
justify-content: center;    
    .container__project{
        
        
        width: 90%;
        height: 150%;
        margin: 0px auto;
        background: var(--header-bg);
        
        border-radius: 10px;
        box-shadow: var(--project-shadow);
        transition: 0.6s ease-in;
        .project__wrapper{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 30px;

            p{
                color: var(--white-color);
            }
            
            
            .images__wrapper{
                display: flex;
                flex-wrap: wrap;
                margin-top: 30px;

                @media only screen and (max-width: 768px){
                    flex-direction: column;
                    gap: 30px;
                }
                
                   

                    .image{
                        width: fit-content;
                        height: 400px;
                        @media only screen and (max-width: 768px){
                            width: 100%;
                            object-fit: cover;
                        }
                        img{
                            max-width: 100%;
                            width: 100%;
                            
                            object-fit: cover;
                        }
                    }

                
                }
            

            .close{
                font-size: 1.2rem;
                padding:0px 8px;
                border-radius: 50%;
                background-color: var(--primary-color);
                color: var(--header-bg);
                
                top: 10px;
                right: 10px;
            }
           
        }
    }
}